div.scrollmenu {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
  }
  
  div.scrollmenu a {
	font-family: 'Franklin Gothic Medium';
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  
  div.scrollmenu {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
  }
  
  div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  div.scrollmenu a:hover {
	background-color: #777;
  }

footer {
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100;
	background-color: rgb(255,255,255);
	color: white;
	text-align: right;
}

.circle {
	background-color: #aaa;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;	

}

.circle img {
	position: relative;
	bottom: 0;
	width: 100%;
}

.corpo {
	font-size: 200%;

}

.chscr {
	font-family: Arial;
	font-size: 100%;

}
