div.scrollmenu {
	background-color: #5b64d6;
	overflow: auto;
	white-space: nowrap;
  }
  
  div.scrollmenu a {
	font-family: 'Franklin Gothic Medium';
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  
  div.scrollmenu {
	background-color: #5b64d6;
	overflow: auto;
	white-space: nowrap;
  }
  
  div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
  }
  
  div.scrollmenu a:hover {
	background-color: #868ef7;
  }

footer {
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100;
	background-color: rgb(255,255,255);
	color: white;
	text-align: right;
}

.circle {
	background-color: #aaa;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;	

}

.circle img {
	position: relative;
	bottom: 0;
	width: 100%;
}

.corpo {
	font-size: 250%;
	font-family: cursive;
	text-decoration: underline;

}

.chscr {
	font-family: Arial;
	font-size: 100%;

}

table {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	justify-content: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  
  .button2 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .button3 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .button4 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .button5 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .button6 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .button7 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .button8 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .button9 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .button10 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .button11 {
	background-color: #5b64d6;
	font-family: Arial;
	border: none;
	color: white;
	padding: 5px 10px;
	align-content: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }